.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header h1 {
  margin: 1vh 0;
}

.App-link {
  color: #61dafb;
}

.App-content {
  max-width: 60vw;
  margin-left: 10vw;
  text-align: left;

}